<!--
        $ctrl == 'Controller.this' ,  By default, components use $ctrl as the controller alias
        We can (and should) use our controller instance;
        i.e. assign our data and methods on properties of our controller (the "this" inside the controller constructor),
        instead of directly to the scope.

        Explicit to which we refer, instead of scope

        What this means is that a random, unrelated change in a different part of the page
        (e.g. a property-name conflict) could have unexpected and hard-to-debug side effects on our view.
        ( = collisions)
-->
<!--<div class="container-fluid">-->
<div class="row">
        <div class="col-md-2">
                <!--Sidebar content-->

                <p>
                        Search:
                        <input  type="text" class="form-control" placeholder="Text" ng-model="$ctrl.query">
                </p>

                <p>
                        <!-- AngularJS creates a two way data-binding between the select element and the $ctrl.orderProp model.
                        $ctrl.orderProp is then used as the input for the orderBy filter.-->
                        Sort by:
                        <select class="form-control" ng-model="$ctrl.orderProp">
                                <option value="name">Alphabetical</option>
                                <option value="age">Newest</option>
                                <!--opposite value just like this ;-)-->
                                <option value="-age">Oldest</option>
                        </select>
                </p>

        </div>

        <div class="col-md-10">
                <!--Body content-->

                <ul class="phones">
                        <!--https://www.w3schools.com/bootstrap/bootstrap_images.asp-->
                        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                            class="thumbnail">
                                <span><b>{{phone.name}}</b></span>

                                <!-- #! is required ?? maybe because phone_detail is not the default root -->
                                <a href="#!/phone_detail/{{phone.id}}" class="thumb">
                                        <!--That directive prevents the browser from treating the AngularJS {{ expression }} markup literally,
                                        and initiating a request to an invalid URL -->
                                        <img ng-src="{{baseUrl + phone.imageUrl}}" alt="{{phone.name}}"/>
                                </a>

                                <p>{{phone.snippet}}</p>
                        </li>
                </ul>

        </div>
</div>
<!--</div>-->