<!-- OFFICIAL TUTORIAL-->
<!--ctrller attached to this tag, and handles DOM sub-tree from here-->
<!-- scope inherit the root scope from app -->
<h2>Official AngularJS tutorial</h2>
<!--<div class="row" data-ng-controller="PhoneListController">-->
<!--<ul>-->
<!--&lt;!&ndash;repeater scopeS, inherit from PhoneListController scope&ndash;&gt;-->
<!--<li ng-repeat="phone in phones">-->
<!--&lt;!&ndash;2ways data binding (model/view)&ndash;&gt;-->
<!--<span>{{phone.name}}</span>-->
<!--<p>{{phone.snippet}}</p>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--Component with COMPONENT isolated scope (doesn't inherit from rootScope)-->
<!--no property-name conflict here -->
<!-- + child scopes (ctrller, etc.)-->

<component-phone-list></component-phone-list>

<!-- OFFICIAL TUTORIAL-->

<hr>