<div>
    <h2>2. View 2 - Explore blog posts</h2>
    <a href="#!/view1" class="btn btn-info">View 1</a>
    <a href="#!/git" class="btn btn-info">Git</a>

    <!-- # is root and map to view 1 (plus scroll page up),  '/' or anything is 404, and #/ is encoded as #%2F and still map to view 1...,
    #anything is mapped to view 1 and stays #anything -->

    <h4>List of posts from server :</h4>
    <ul>
       <li ng-repeat="post in posts">{{post.userId}} - {{post.title}}</li>
    </ul>

    </br>

</div>