<!DOCTYPE html>
<!--ng-app directive to init angular app , alone = without def module = default scope-->
<!--app is our DemoApp = defined module -->
<html lang="en" ng-app="DemoApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--I. BOOTSTRAP LIBS-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--To ensure proper rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <!--https://www.w3schools.com/bootstrap/bootstrap_grid_basic.asp-->
    <!--fixed width container (bootstrap) -->
    <div class="container" >
      <h1>My First Bootstrap Page</h1>
      <p>This is some text.</p>

         <div class="row">
             <div class="col-md-12 text-center">
                 <hr>
                 <!--https://stackoverflow.com/questions/9184141/how-do-you-get-centered-content-using-twitter-bootstrap-->
               <h2>Subtitle</h2>
                <p>This is some text.</p>
                 <img src="https://www.w3schools.com/bootstrap/sanfran.jpg" class="img-responsive img-rounded center-block" alt="Cinque Terre" style="width:308px;height:auto;">
             <hr>
             </div>
         </div>


         <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash;https://www.w3schools.com/bootstrap/bootstrap_images.asp&ndash;&gt;-->
                <!--&lt;!&ndash;https://stackoverflow.com/questions/18462808/responsive-image-align-center-bootstrap-3/20396826#20396826&ndash;&gt;-->
            <!--</div>-->
         <!--</div>-->

        <div class="row">
            <!--Partial views !-->
            <div class="col-md-6">
                <!--placeholder for them-->
                <!--scope limited in this div !! -->
                <div ng-view>

                </div>
            </div>

            <div class="col-md-6">
                <h2>List tests</h2>
                <h3>Input lookout</h3>
                <!--ng-model directive add a property in the view-model (in the scope, global), into the scope-->
                <!--pipe between data binding and filter-->
                <!--{{}} is Template Binding-->
                Name : <input type="text" ng-model="filter.name"/>
                <br>
                Looking for : {{ filter.name | uppercase }}

            <!--the view knows now manually about its controller , and scope auto shared inside this div-->
            <!--DIGEST the controller a 2n time !-->
            <!--https://stackoverflow.com/questions/15535336/combating-angularjs-executing-controller-twice-->
            <div ng-controller="SimpleController">
                <h3>Looping scoped dict</h3>
                <ul>
                    <li ng-repeat="member in members | filter:filter.name | orderBy:'city'">Name = {{member.name}} - {{member.city}}</li>
                </ul>
            </div>

            <p>
                <!-- scope reminder : http://plnkr.co/edit/zZfUQN?p=preview -->
                <!--https://github.com/angular/angular.js/wiki/Understanding-Scopes-->
                <i>Unscopped (locally): {{members[0].name}} </br> Globally scoped : {{filter.name}}</i>
            </p>
            <!--ng-init directive init data to be bound-->
            <div ng-init="customers=[{name:'Ludo', city:'Wol'}, {name:'Loic', city:'Ucl'}, {name:'Lorenzo', city:'Ixl'}]">
                <h3>Looping dict</h3>
                <ul>
                    <li ng-repeat="cust in customers | filter:filter.name | orderBy:'city'">Name = {{cust.name}} - {{cust.city}}</li>
                </ul>
            </div>

            <!--ng-init directive init data to be bound-->
            <div ng-init="pnames=['Ludo','Loic','Lorenzo']">
                <h3>Looping list</h3>
                <ul>
                     <!--pipe on the bound variable itself, not on the ng-repeat-->
                    <!--reverse order is true- https://docs.angularjs.org/api/ng/filter/orderBy-->
                    <li ng-repeat="pname in pnames | orderBy:pname:true">{{pname | uppercase}}</li>
                </ul>
            </div>
        </div>
    </div>
            </div>

    <!--I. ANGULAR (not defined ? should be above)-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!--https://stackoverflow.com/questions/18481863/failed-to-instantiate-module-injectorunpr-unknown-provider-routeprovider-->
    <!--https://stackoverflow.com/questions/19197182/error-injectorunpr-unknown-provider-routeprovider-->
    <!--https://stackoverflow.com/questions/33061114/cant-find-angular-route-js-on-google-cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <!-- ANGULAR APP -->
    <!--Note that files defining a module (i.e. .module.js) need to be included before other files that add features (e.g. components, controllers, services, filters) to that module.
-->
    <script src="app.module.js"></script>
    <script src="app.service.js"></script>
    <script src="app.route.js"></script>
    <script src="app.controller.js"></script>

</body>
</html>