.bodyapp {
        /*https://www.w3schools.com/css/default.asp*/
        /*padding-top: 20px;*/
        background-color: #e6fdff;
        height: initial;  /* fix angular material height 100% conflict */
}


/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
  KO
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**
KO
 */
[deferred-cloak], [data-deferred-cloak], [x-deferred-cloak], .deferred-cloak {
    display: none ;
}

/* FROM angular official tuto - no bootstrap */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* deatil */

/* View: Phone detail */
.phone {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/*https://stackoverflow.com/questions/25874001/how-to-put-scrollbar-only-for-modal-body-in-bootstrap-modal-dialog*/
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}


/* https://github.com/angular/angular.js/wiki/Understanding-Scopes */

.example {
  border: thin solid red;
  padding: 10px;
}

.mainImg {
  width: 160px;
  height: 195px;
  border: thin solid black;
  float: right;
  margin: 0px 0px 10px 5px;
}

.thumbsProto {
  clear: both;
  overflow: auto;
  border: thin solid silver;
  padding: 5px 10px;
}

.thumbDivProto {
  border: thin solid green;
  padding: 5px;
  margin: 10px 0px;
  overflow: auto;
}

.thumbProto {
  width: 80px;
  height: 87px;
  border: thin solid black;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}